.collapse {
  &__wrapper {
    background-color: #0B0E12;
    padding: 16px;
    display: grid;
    grid-row-gap: 32px;
  }

  &-open {
    .collapse__body {
      display: grid;
    }

    .collapse__title > svg {
      transform: rotate(180deg);
    }
  }

  &__body {
    display: none;
    padding: 12px;
  }

  &__title {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 12px;
    align-items: center;

    svg {
      transition: transform .3s;
    }
  }
}